body {
    background-color: #F7F9FC;
    font-family: 'Arial', sans-serif;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #00ABE4, rgb(26, 27, 29));
}

h1 {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.container {
    padding: 20px;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
}

.contain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.image {
    text-align: center;
    padding-left: 150px;
}

.contain > div {
    flex: 1;
    margin: 20px;
}

.contain p {
    text-align: justify;
}

li {
    list-style-type: none;
    padding: 0;
}

.detail li {
    background: #00ABE4;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media Queries for Responsive Design */
@media (min-width: 768px) {
    .contain {
        flex-direction: row;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: 1.5em;
    }

    ul li {
        font-size: 0.9em;
    }

    .container {
        padding: 10px;
    }

    .image {
        padding-left: 0;
        text-align: center;
    }

    .contain {
        flex-direction: column-reverse;
        align-items: center;
    }
}
