body{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.course-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 60px 0; 
    padding: 15px;
    width: 600px;
    max-width: 90%;
    transition: transform 0.3s ease;
    text-align: center;
}

.course-container:hover {
    transform: scale(1.1);
}

.course-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.course-title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.course-description {
    color: #555;
}

@media (max-width: 768px) {
    .course-container {
        width: 100%;
        margin: 30px 0;
    }

    .course-title {
        font-size: 1.3em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    .course-title {
        font-size: 1.2em;
    }

    .course-description {
        font-size: 0.9em;
    } 
}

.dropdown{
    display: none !important;
}
.search {
    position: fixed;
    margin: 20px;
    display: flex;
    text-align: center;
    align-items: center;
}

.search label {
    font-size: 1.2em;
    margin-right: 10px;
    color: #333;
}


.search select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    font-size: 1em;
    transition: border-color 0.3s;
}
