
body {
    font-family: 'Roboto', Arial, sans-serif; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.links{
    color:blue;
    text-decoration: none;
}
.links:hover{
    text-decoration: underline;
}
.about {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}

h4 {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: 700;
}

.aboutus, .ourcourses {
    width: 48%;
    background: white;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
}

.aboutus {
    text-align: justify;
}

.ourcourses {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}

.course {
    flex: 1; 
    margin-right: 20px; 
}

.sec {
    column-count: 4; 
    column-gap: 50px; 
    padding: 20px;
}

.sec div {
    height: 220px;
    break-inside: avoid;
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.sec h5 {
    margin-bottom: 10px;
    font-weight: 700; 
}

.courses {
    background-color: black;
    color: white;
    overflow: hidden;
}

.course-article {
    padding-top: 10px;
    justify-content: center;
    position: relative;
    overflow: hidden; 
    animation: moveit 15s linear infinite; 
}

@keyframes moveit {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%); 
    }
}

@media (max-width: 768px) {
    .about {
        flex-direction: column;
    }

    .aboutus, .ourcourses {
        width: 95%;
        margin:10px;
    }

    .sec {
        column-count: 1; 
        column-gap: 0; 
    }

    .course-article {
        width:600px;
        animation: moveit-tiny 8s linear infinite;
    }

    .ourcourses {
        flex-direction: column; 
    }

    .course {
        margin-right: 0; 
    }
}


@keyframes moveit-tiny {
    0% {
        transform: translateX(-100%); 
    }
    100% {
        transform: translateX(100%); 
    }
}
.link-container {
    display: flex;
    justify-content: center; 
   
    

}

.link-container div {
    margin: 0 15px; 
    padding: 20px;
    box-shadow: 0 0 5px black;
    border-radius:5px
}
.hidden {
    display: none;
}