body {
    background-color:#E9F1FA;
    font-family: 'Open Sans', Arial, sans-serif;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right,#00ABE4, rgb(26, 27, 29));
}

h4, header{
    font-weight: bold;
}
nav {
    animation:myfirst 5s;
    -webkit-animation:myfirst 5s;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font: Serif;
}
@keyframes myfirst
{
from {background:#00ABE4}
to {background:#333}
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}



#dropdownMenuButton {
    background: transparent;
    border: none;
    font-weight: bold;
    color:white;
}

.dropdown-item:hover .nested-dropdown {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    color: #333;
}

.dropdown-item:hover {
    background-color: #E9F1FA;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding-left: 70px ;
    padding-right: 90px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    
}
ul{
    list-style-type: none;
}
.footerdiv {
    text-align: left;
}

img{
    padding: 10px;
}
.icon {
    margin: 10px 0;
}

.icon a {
    color: #ecf0f1;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

.anchortags {
    display: flex;
    flex-direction: column;
    margin: 10px 0; 
}

.anchortags a {
    text-align: left; 
    color: white;
    text-decoration: none;
}

.menudropdown{
    text-align: left;
 }


@media (max-width: 750px) {
   footer{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
   }
}


 @media (max-width: 750px) {
    nav{
        display: flex;
        flex-direction: column;
    }
    
 }

.products{
    text-align:left;
}
 
.mail{
    padding: 0px;
}

input{
   margin-bottom: 10px;
}
.dropdown{
    display: inline-block;
}
