body {
    background-color: #E9F1FA;
    font-family: 'Open Sans', Arial, sans-serif;
}

header {
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, #00ABE4, rgb(26, 27, 29));
}

h4, header {
    font-weight: bold;
}

nav {
    animation: myfirst 5s;
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font: Serif;
}

@keyframes myfirst {
    from { background: #00ABE4; }
    to { background: #333; }
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#dropdownMenuButton {
    background: transparent;
    border: none;
    font-weight: bold;
    color: white;
}

.dropdown-item:hover .nested-dropdown {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    color: #333;
}

.dropdown-item:hover {
    background-color: #E9F1FA;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.footerdiv {
    flex: 1 1 300px;
    margin: 10px;
}

.products, .anchortags {
    flex: 1 1 200px;
    margin: 10px;
}

img {
    padding: 10px;
    max-width: 100%;
    height: auto;
}

.icon {
    margin: 10px 0;
}

.icon a {
    color: #ecf0f1;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
}

ul {
    list-style-type: none;
    padding: 0;
}

.products a, .anchortags a {
    text-align: left;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.products a:hover, .anchortags a:hover {
    color: #ecf0f1;
}

.mail {
    padding: 0px;
}

input {
    margin-bottom: 10px;
}

.dropdown {
    display: inline-block;
}

#scholarship-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#scholarship-form input {
    box-shadow: 0 0 5px black;
    border: none;
    width: 300px;
}

#scholarship-form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
}

@media (max-width: 750px) {
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footerdiv, .products, .anchortags {
        flex: 1 1 100%;
        margin: 5px 0;
        text-align: center;
        padding-top: 20px;
    }
    .anchortags a {
        text-align: center;
    }
    img {
        padding-right: 0;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
}
.anchortags{
    display: flex;
    flex-direction: column;
}